tqdm>=4.56.0
wget
matplotlib
tensorboard
tqdm
transformers>=5.2
huggingface_hub>=1.3.0
pandas
torchdata>=0.8.0
tomli>=1.1.0
tiktoken
blobfile
array-record
black
flake8
mypy
etcd3
python-etcd
pudb
pre-commit
lm_eval
compoconf>=0.1.14
scipy
safetensors
tabulate
einops
hydra-core
omegaconf
opt-einsum
pandas
datasets
wandb
