[submodule "submodules/Megatron-LM"]
	path = submodules/Megatron-LM
	url = https://github.com/OpenEuroLLM/NVIDIA-Megatron-LM.git
[submodule "submodules/titan-oellm"]
	path = submodules/titan-oellm
	url = git@github.com:OpenEuroLLM/titan-oellm.git
[submodule "submodules/Megatron-Bridge"]
	path = submodules/Megatron-Bridge
	url = git@github.com:jmokoistinen/Megatron-Bridge.git
	branch = feat/qwen3.5_conv
