axes:
  lr: [5.e-4, 1.e-3, 2.e-3, 4.e-3, 8.e-3]
  global_batch_size: [32, 64, 128, 256, 512]
base_values:
  run_name: dense_scaling_50M
name_template: "${project.name}_{run_name}_gbs{global_batch_size}_lr{lr}"
store_sweep_json: true
