defaults:
 - default

log_events:
  - name: finished_training
    pattern: "[after training is done]"
    pattern_type: substring
    action:
      reason: "Training finished"
  - name: finish
    pattern: ".*validation loss.*on test set.*"
    pattern_type: regex
    action:
      class_name: FinishAction
      reason: "Test Evaluation Finished"
  - name: inactive
    pattern_type: inactivity
    action:
      class_name: RestartAction
      reason: "Inactive Log"
