defaults:
  - base
  - _self_

template_path: templates/jupiter.sbatch
launcher_cmd: ""
srun_opts: ""
sbatch_overrides:
  nodes: 1
  ntasks_per_node: 8
  cpus_per_task: 8
  gres: "gpu:8"
  partition: booster
  account: project-default
  time: "08:00:00"
sbatch_extra_directives: []
