defaults:
  - base
  - _self_

template_path: templates/lumi.sbatch
launcher_cmd: "${oc.join:' ',${oc.maptmpl:'export %=\\'$%\\' ; \\\n',${oc.dict.keys:.env}}} \
  export LOCAL_ADDR=$(nslookup $(hostname) | grep \"Address: \" | sed \"s/Address: //\" | tail) ; \\\n\
  export RANK=$SLURM_PROCID ; export LOCAL_RANK=$SLURM_LOCALID ; export AITER_JIT_DIR=/tmp/$USER/aiter_jit_dir ; \\\n\
  ${oc.select:container.runtime,apptainer} exec \
  ${oc.select:container.image,container.sif}"
srun:
  exclusive: true
  wait: 60
  jobid: "$SLURM_JOB_ID"
  network: "disable_rdzv_get"
launcher_env_passthrough: true
env:
  MACHINE_NAME: LUMI
  MASTER_ADDR: '$(scontrol show hostnames "$SLURM_JOB_NODELIST" | head -n 1)'
  MASTER_PORT: "20074"
  WORLD_SIZE: ${oc.muli:${..sbatch.nodes},${..sbatch.ntasks_per_node}}
  HSA_ENABLE_SDMA: 0
  NCCL_SOCKET_IFNAME: "hsn0,hsn1,hsn2,hsn3"
  NCCL_NET_GDR_LEVEL: "PHB"
  NVTE_DEBUG: "0"
  NVTE_DEBUG_LEVEL: "0"
  CC: "gcc-12"
  CXX: "g++-12"
sbatch:
  nodes: 1
  ntasks_per_node: 8
  gpus_per_node: 8
  gres: "gpu:8"
  cpus_per_task: 7
  time: "00:30:00"
  mem: "480G"
