image: ${oc.env:CONTAINER_CACHE_DIR}/MegatronTrainingLumi_x86_64_202511090219.sif
runtime: singularity
bind:
  [
    "/boot/config-5.14.21-150500.55.49_13.0.56-cray_shasta_c",
    "/pfs/",
    "/scratch/",
    "/flash/",
    "${oc.env:PWD}",
    "/opt/cray/pe/lmod/"
  ]
pwd: ${oc.env:PWD}
env:
  CC: "gcc-12"
  CXX: "g++-12"
  WANDB_MODE: "offline"
  PYTHONPATH: "."
python: "python3"
