image: ${oc.env:CONTAINER_CACHE_DIR}/MegatronTrainingLumi_x86_64.sif
# image: /scratch/project_462000394/containers/for-turkunlp-team/lumi-pytorch-rocm-6.2.4-python-3.12-pytorch-v2.7.1-te-dockerhash-560b76ceab56.sif
runtime: singularity
bind:
  [
    "/boot/config-5.14.21-150500.55.49_13.0.56-cray_shasta_c",
    "/pfs/",
    "/scratch/",
    "/flash/",
    "${oc.env:PWD}",
    "/opt/cray/pe/lmod/"
  ]
pwd: ${oc.env:PWD}
env:
  CC: "gcc-12"
  CXX: "g++-12"
python: "python3"
